<mat-card>
  <mat-card-title> {{ company?.name }} - {{ company?.city }} </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        placeholder="Choose a date"
        [satDatepicker]="picker"
        [value]="date"
        [formControl]="range"
        readonly="readonly"
        [min]="minDate"
        [max]="maxDate"
        (dateChange)="addEvent('change', $event)"
      />
      <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
    total: {{ total }} avarage: {{ avarage }}
    <br />
  </mat-card-content>

  <app-chart *ngIf="chartData.length" [data]="chartData"></app-chart>
</mat-card>
